/*
Colors: beige, saddlebrown, and burlywood
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: beige;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-image: linear-gradient(to bottom, rgb(224, 207, 184), beige);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#website-name {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
}

#website-name a {
    color: saddlebrown;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: saddlebrown;
    font-size: 25px;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: saddlebrown;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: beige;
    z-index: 1000;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}